@import "../../../styles/variables.scss";

nav {
  margin: "3rem auto";
  max-width: 650;
  padding: "0 1rem";
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
